.header {
  font-size: 6rem;
  font-weight: 300;
  padding: 4rem 0 3rem 0;
  font-family: 'Open Sans Condensed', sans-serif;

  @media only screen and (max-width: $screen-xlarge) {
    // font-size: 5rem;
    padding: 2rem 0 2rem 0;
  }

  @media only screen and (max-width: $screen-large) {
    // font-size: 3.5rem;
    padding: 2rem 0 2rem 0;
  }
}

.navbar {

  &__nav-links {
    padding: 1rem 0;
    text-transform: uppercase;
  }

  &__link:link,
  &__link:visited {
    padding: 1.5rem 4rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: $color-black;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
    transition: .35s ease-out;
    
    &:hover {
      border-top: 1px solid $color-grey-medium;
      border-bottom: 1px solid $color-grey-medium;
      color: $color-grey-medium;
    }

    @media only screen and (max-width: $screen-xlarge) {
      // font-size: 1rem;
      padding: 1.5rem 3rem;
    }

    @media only screen and (max-width: $screen-large) {
      padding: .8rem 2.5rem;
    }
  }
}